body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

#fullContainer{
  display: flex;
  justify-content: center;
}

#calculator{
  width:70%;
  min-width: 400px;
}

/* CREATED: Alec Maier 3/18/2018
    Description: CSS for calculator
 */

#calculator input[type="button"] {
  color: black;
  padding: 10px;
  margin: 2px;
  background: lightgray;
  cursor: pointer;
  width: 12%;
  height: 22%;
}

form {
  text-align: center;
  align-content: center;
  background: lightgray;
  border: solid #bb0000;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
}

#calculator input[type="button"]:hover {
  background: #bb0000;
}

#calculator input[type="button"]:focus {
  background: gray;
  transition: ease-in-out, background .25s ease-in-out;
}

#calculator #flex_container {
  display: flex;
  justify-content: center;
}

#calculator #trig_display {
  margin-right: 1%;
  width: 5%;
  text-align: center;
  height: 20px;
  border-style: inset;
  border-width: 2px;
  resize: none;
  font-size: 100%;
  font-family: sans-serif;
  pointer-events: none;
}

#calculator #display{
  width: 70%;
  margin: 0px auto 20px;
  height: auto;
  border-style: inset;
  border-width: 5px;
  resize: none;
  font-weight: bolder;
  font-size: 20px;
  font-family: sans-serif;
  pointer-events: none;
}

#calculator img {
  padding: 5%;
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 107px;
  padding: 15px 15px 5px;
  margin-right: 2%;
}

#notification{
  background: lightgrey;
  min-height: 15px;
  color: rgba(0,0,0,.6);
  font-size: .8em;
}
// end of calculator css


/*CREATED: Sam Wolfe 3/18/2018
Description: CSS style for History
*/
#historyPane{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scrollButtons{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 3em;
}

#scrollUp:hover, #scrollDown:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#smallHistory{
    height: 50px;
    background-color: rgba(255,255,255,.3);
    overflow: auto;
    display: block;
    margin-bottom: 10px;
}

#smallHistory p{
  margin: auto;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: rgba(20,20,20,.5);
}

#bigHistory{
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    border: 2px solid black;
    height: 400px;
    overflow: hidden;
    margin-left:10px;
}

#scrollToBottom{
    text-align: center;
    display: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 0;
    width: 200px;
    margin-left: 10px;
    background-color: black;
    color:white;
    border: 2px solid black;
    border-top: 0px solid black;
    transition: background .2s;
}

#scrollToBottom:hover{
  background-color:white;
  color: grey;
}

.historyElement{
    border-top: 1px solid black;
}

.historyEq{
    margin: 0;
    padding: 5px 10px;
    background: lightgrey;
    text-align: left;
}

.historyEq:hover, .historyAns:hover{
    background-color: rgb(120,120,120);
    cursor: pointer;
}

.historyAns{
    margin: 0;
    padding: 5px 10px;
    background: darkgrey;
    text-align: right;
}

#historyTitle{
  font-size: 1.5em;
}

#historySubtext{
  margin-top: -20px;
  color:rgb(128,128,128);
}

// End CSS style for history

/* CREATED: Sam Wolfe 3/20/2018
/*Begin CSS style for enabled/disabled buttons*/

.enabled{
  color: black;
  background: lightgray;
  pointer-events: auto;
}

.disabled{
  color: lightgrey !important;
  background: rgba(100,100,100,.2) !important;
  pointer-events: none;
}

// end style for enabled/disabled buttons
