body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

/* CREATED: Alec Maier 3/18/2018
    Description: CSS for calculator
 */

#calculator input[type="button"] {
  color: black;
  padding: 10px;
  margin: 2px;
  background: lightgray;
  cursor: pointer;
  width: 12%;
  height: 22%;
}

form {
  text-align: center;
  align-content: center;
  background: lightgray;
  border: solid #bb0000;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
}

#calculator input[type="button"]:hover {
  background: #bb0000;
}

#calculator input[type="button"]:focus {
  background: gray;
  transition: ease-in-out, background .25s ease-in-out;
}

#calculator textarea{
  width: 70%;
  margin-right: 50px;
  height: 200px;
  border-style: inset;
  border-width: 5px;
  resize: none;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 25px;
  font-family: sans-serif;
}

#calculator img {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 107px;
  padding: 15px;
  margin-right: 2%;
  margin-bottom: 5%;
}


// end of calculator css


/*CREATED: Sam Wolfe 3/18/2018
Description: CSS style for History
*/
#historyPane{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scrollButtons{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 3em;
}

#scrollUp:hover, #scrollDown:hover, #scrollToBottom:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#smallHistory{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px auto;
    width: 200px;
    border: 2px solid black;
    height: 120px;
    overflow: hidden;

    /*TEMPORARY DISPAY NONE*/
    display: none;
}

#bigHistory{
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    border: 2px solid black;
    height: 400px;
    overflow: hidden;
}

#scrollToBottom{
    text-align: center;
    display: none;
    cursor: pointer;
}

.historyElement{
    border-top: 1px solid black;
}

.historyEq{
    margin: 0;
    padding: 5px 10px;
    background: lightgrey;
    text-align: left;
}

.historyEq:hover, .historyAns:hover{
    background-color: rgb(120,120,120);
    cursor: pointer;
}

.historyAns{
    margin: 0;
    padding: 5px 10px;
    background: darkgrey;
    text-align: right;
}

/*End CSS Style for History */

/* CREATED: Sam Wolfe 3/20/2018
/*Begin CSS style for enabled/disabled buttons*/

.enabled{
  color: black;
  background: lightgray;
  pointer-events: auto;
}

.disabled{
  color: lightgrey !important;
  background: rgba(100,100,100,.2) !important;
  pointer-events: none;
}

/*End style for enabled/disabled buttons */

/* CSS styling for input box cursor*/
/*
  NOTE ABOUT CURSOR:

  The following cursor implementation was developed by 
  Artem Gordinsky at codepen.io. Link can be found below:
  https://codepen.io/ArtemGordinsky/pen/GnLBq
*/
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
