body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

/* CREATED: Alec Maier 3/18/2018
    Description: CSS for calculator
 */

#calculator input[type="button"] {
  padding: 10px;
  margin: 2px;
  background: lightgray;
  cursor: pointer;
  width: 12%;
  height: 22%;
}

form {
  text-align: center;
  align-content: center;
  background: lightgray;
  border: solid #bb0000;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
}

#calculator input[type="button"]:hover {
  background: #bb0000;
}

#calculator input[type="button"]:focus {
  background: gray;
  transition: ease-in-out, background .25s ease-in-out;
}

#calculator textarea{
  width: 70%;
  margin-right: 10px;
  height: auto;
  border-style: inset;
  resize: none;
  margin-bottom: 20px;
}

#calculator img {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 107px;
  padding: 15px;
}

// end of calculator css


#smallHistory{
    display: flex;
    flex-direction: column-reverse;
    margin: 50px auto;
    width: 200px;
    border: 2px solid black;
    height: 200px;
}

#bigHistory{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 200px;
    border: 2px solid black;
    height: 400px;
    overflow: hidden;
}

.historyElement{
    border-top: 1px solid black;
}

.historyEq{
    margin: 0;
    padding: 5px 10px;
    background: lightgrey;
    text-align: left;
}

.historyAns{
    margin: 0;
    padding: 5px 10px;
    background: darkgrey;
    text-align: right;
}