---
title: Calculator  Home Page
---

<!-- 
  Created: Brandon Brown 3/14/2018
  Description: 
-->

    <form id="calculator">
        <!-- Display user input from calculator -->
        <input type="text" name="display" value="">
        <div>
          <input type="button" name="buttons" value="MS">
          <input type="button" name="buttons" value="&radic;">
          <input type="button" name="buttons" value="ANS">
          <input type="button" name="buttons" value="7">
          <input type="button" name="buttons" value="8"> </td>
          <input type="button" name="buttons" value="9"> </td>
          <input type="button" name="buttons" value="+">
        </div>
        <div>
          <input type="button" name="buttons" value="MR">
          <input type="button" name="buttons" value="x&sup-1">
          <input type="button" name="buttons" value="sine">
          <input type="button" name="buttons" value="4">
          <input type="button" name="buttons" value="5">
          <input type="button" name="buttons" value="6">
          <input type="button" name="buttons" value="&times;">
        </div>
        <div>
          <input type="button" name="buttons" value="M+">
          <input type="button" name="buttons" value="x&sup2">
          <input type="button" name="buttons" value="cos">
          <input type="button" name="buttons" value="1">
          <input type="button" name="buttons" value="2">
          <input type="button" name="buttons" value="3">
          <input type="button" name="buttons" value="&minus;">
        </div>
        <div>
          <input type="button" name="buttons" value="M-">
          <input type="button" name="buttons" value="!">
          <input type="button" name="buttons" value="x&supy">
          <input type="button" name="buttons" value="0">
          <input type="button" name="buttons" value="&#8333;">
          <input type="button" name="buttons" value="&#8334;">
          <input type="button" name="buttons" value="ENTER">
        </div>
    </form>
  </div>

<!-- CREATED: Sam Wolfe
Description: Container for the calculator history
-->

  <div id="historyContainer">
    <!-- Example elements - DELETE later -->
    <div class="historyElement">
        <p class="historyEq">10+10</p>
        <p class="historyAns">20</p>         
    </div>
    <div class="historyElement">
        <p class="historyEq">5+5</p>
        <p class="historyAns">10</p>         
    </div>
  </div>